{{!--
  Details Tab Partial
  
  This tab content is used for item sheets that have tabbed interfaces.
  It provides the details fields like attribute, modifier, and cost in a standard layout.
  
  Usage:
    {{> "systems/avant/templates/shared/partials/details-tab" system=system attributeOptions=attributeOptions}}
  
  Optional: class - Additional CSS classes for the tab content
--}}

<div class="tab-content details-tab {{#if class}}{{class}}{{/if}}" data-tab="details">
    {{> "systems/avant/templates/shared/partials/select-field" name="system.attribute" value=system.attribute label=(localize "avant.attribute") options=attributeOptions}}
    {{> "systems/avant/templates/shared/partials/number-field" name="system.modifier" value=system.modifier label=(localize "avant.attributeMod")}}
    {{> "systems/avant/templates/shared/partials/number-field" name="system.cost" value=system.cost label="Cost"}}
</div>