{{!-- 
  Form Row Component - Block Helper
  
  Usage:
    {{#> "systems/avant/templates/shared/partials/form-row" class="custom-class"}}
        {{> "systems/avant/templates/shared/partials/number-field" name="system.uses.value" value=system.uses.value label="Current Uses"}}
        {{> "systems/avant/templates/shared/partials/number-field" name="system.uses.max" value=system.uses.max label="Maximum Uses"}}
    {{/"systems/avant/templates/shared/partials/form-row"}}
  
  Optional: class
--}}

<div class="form-row {{#if class}}{{class}}{{/if}}">
    {{> @partial-block}}
</div> 