{{!--
  Item Card Layout - TAILWIND VERSION - Three-zone grid layout
  
  Context expects:
  - item: The item data object
  - layout: { left: Field[], center: Field[], right: Field[], containerClass: string, containerData: object }
  
  Usage:
  {{> shared/partials/item-card item=item layout=cardLayout}}
--}}
<div class="tw-item-card {{layout.containerClass}}" {{#each layout.containerData}}{{@key}}="{{this}}"{{/each}}>
  
  {{!-- Left Zone: Actions/Roll buttons + Icon --}}
  <div class="tw-item-card__left">
    {{#each layout.left}}
      {{> "systems/avant/templates/shared/partials/render-field" field=this editable=true}}
    {{/each}}
  </div>
  
  {{!-- Center Zone: Main content (name, details, fields) --}}
  <div class="tw-item-card__center">
    {{#each layout.center}}
      {{> "systems/avant/templates/shared/partials/render-field" field=this editable=true}}
    {{/each}}
  </div>
  
  {{!-- Right Zone: Control buttons (edit, delete, drag) --}}
  <div class="tw-item-card__right">
    {{#each layout.right}}
      {{> "systems/avant/templates/shared/partials/render-field" field=this editable=true}}
    {{/each}}
  </div>
  
</div>