{{!--
  Item Card Layout - Matches original row-talent-augment.hbs structure
  
  Context expects:
  - item: The item data object
  - layout: { left: Field[], center: Field[], right: Field[], containerClass: string, containerData: object }
  
  Usage:
  {{> shared/partials/item-card item=item layout=cardLayout}}
--}}
<div class="{{layout.containerClass}}" {{#each layout.containerData}}{{@key}}="{{this}}"{{/each}}>
  
  {{!-- Left Column: Chat/Roll Control (matches row-control) --}}
  <div class="row-control">
    {{#each layout.left}}
      {{> "systems/avant/templates/shared/partials/render-field" field=this editable=true}}
    {{/each}}
  </div>
  
  {{!-- Middle Column: Main content (matches row-content) --}}
  <div class="row-content">
    {{#each layout.center}}
      {{> "systems/avant/templates/shared/partials/render-field" field=this editable=true}}
    {{/each}}
  </div>
  
  {{!-- Right Column: Edit/Delete (matches row-actions) --}}
  <div class="row-actions">
    {{#each layout.right}}
      {{> "systems/avant/templates/shared/partials/render-field" field=this editable=true}}
    {{/each}}
  </div>
  
</div>