<form class="{{cssClass}} avant flexcol" autocomplete="off">
    {{!-- Dynamic Content Based on Item Type --}}
    {{#if (eq item.type "talent")}}
        {{> "systems/avant/templates/item/item-talent-sheet.html"}}
    {{else if (eq item.type "augment")}}
        {{> "systems/avant/templates/item/item-augment-sheet.html"}}
    {{else}}
        {{!-- Sheet Header for other item types --}}
        <header class="sheet-header">
            <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
            <div class="header-fields">
                <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/></h1>
            </div>
        </header>

        {{!-- Sheet Tab Navigation for other item types --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="description">Description</a>
            <a class="item" data-tab="details">Details</a>
        </nav>

        {{!-- Sheet Body for other item types --}}
        <section class="sheet-body">
            {{!-- Description Tab --}}
            <div class="tab" data-group="primary" data-tab="description">
                <div class="form-group">
                    <label>Description</label>
                    {{editor enrichedDescription target="system.description" button=true editable=editable}}
                </div>
            </div>

            {{!-- Details Tab - Dynamic Content Based on Item Type --}}
            <div class="tab" data-group="primary" data-tab="details">
                {{#if (eq item.type "action")}}
                    {{> "systems/avant/templates/item/item-action-sheet.html"}}
                {{else if (eq item.type "feature")}}
                    {{> "systems/avant/templates/item/item-feature-sheet.html"}}
                {{else if (eq item.type "weapon")}}
                    {{> "systems/avant/templates/item/item-weapon-sheet.html"}}
                {{else if (eq item.type "armor")}}
                    {{> "systems/avant/templates/item/item-armor-sheet.html"}}
                {{else}}
                    {{> "systems/avant/templates/item/item-gear-sheet.html"}}
                {{/if}}
            </div>
        </section>
    {{/if}}
</form> 